.ui-helper-clearfix{
	/*border:none*/
}

.ui-widget-header{
	border:none;
	background:none;
}
.dataTables_wrapper{	
	margin-top:5px
}
.dataTables_wrapper table thead{	
	border-top:1px solid #d18743;	
}
.dataTables_wrapper table tbody{	
	border-bottom:1px solid #d18743;	
}
.dataTables_wrapper table td {	
	padding:3px	
}
.dataTables_wrapper table td a{	
	float:left	
}
.dataTables_length{
	margin:0px 30px 0px 0px;
	float:left;
	background-color: #ffffff;
	border:none;
}
.dataTables_length select{
	height:30px;
	width:100px	;
	margin-top:5px;
}
.dataTables_filter {
	float:left;
	margin:0px 10px 0px 0px;
	background-color: #ffffff;
}
.dataTables_processing{
	float:left;
	background-color: #ffffff;
	margin:29px 0px 0px 0px
}
#user_paginate a {
	padding:2px;
	margin-right:5px
}